body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
	

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #eaf6ff; /* Soft mavi */
    border-bottom: 2px solid #ccc;
	text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
	align-items: right;
	
}


header nav a {
	
    text-decoration: none;
    font-weight: bold;
    color: #333333;
    transition: color 0.3s;

	
}

header nav a:hover {
	
    color: #0073e6;
}

header nav a.active {
	
    font-weight: bold;
    color: #007bff;
	text-align: center;
}

main {
	
    padding: 20px;
}



.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 5px 10px;
    border: none;nav
    cursor: pointer;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #218838;
}

.cart-container table {
    width: 100%;
    border-collapse: collapse;
}

.cart-container table th, .cart-container table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.empty-cart {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.empty-cart:hover {
    background-color: #c82333;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
	
	display: flex;
    background-color: #f0f8ff;
    padding: 25px;
    justify-content: center;
    align-items: center;
	text-align: center;
}

header .logo {


    font-size: 26px;
    font-weight: bold;
}

header nav a {
	
    margin: 0 15px;
    text-decoration: none;
    color: #333;
	justify-content: center;
}

header nav a.active {
    font-weight: bold;
    color: #007bff;

}


main {
    padding: 60px;

}

.products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
	justify-content: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
	
}

/* Hover efekti */
.product:hover {
    background-color: #f0f8ff; /* Arka plan rengini değiştir */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 5.6); /* Daha güçlü gölge */
    transform: scale(1.05); /* Hafif büyütme */
    border-color: #7fff00; /* Kenarlık rengini değiştir */
}


.product img {
	
     width: 100%; /* Görselin genişliği kutuya uyumlu olsun */
    height: auto; /* Oranını koru */
    border-radius: 5px; /* Görselin köşelerini yuvarla */
}



.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.add-to-cart:hover {
       background-color: #218838; /* Hover efekti */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Hover için gölge */
}
.whatsapp-share {
    margin-top: 20px;
    text-align: center;
}

.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}
#search-input {
	

	padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
		
}





.urunler {
	text-align: center;
    font-size: 30px;
    padding: 10px;
	}

.urunara {
	text-align: center;
   
	}
	

.kutu{
	background-color: #25D366;
	}

.decrease{
	background-color: #eee8aa;
	}
	
.increase{
	background-color: #eee8aa;
	}
	
.price{
	 border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 20px;
	}